depends: [
  "ocaml" {>= "4.06.0"}
]
build: [
  [make "PROFILE=release"
        "opam-legacy" {!ocaml:preinstalled & ocaml:version < "5.0.0~~"}
        "opam-modern" {ocaml:preinstalled | ocaml:version >= "5.0.0~~"}]
  [make "test"] {with-test}
]
